{% extends "base.html" %}
{% block title %}Casino Lobby{% endblock %}

{% block content %}

<div class="casino-layout">

    {% include "casino/partials/sidebar.html" %}

    <main class="casino-main" id="home">

        {% include "casino/partials/flash_messages.html" %}
        
        {% include "casino/partials/bonus_section.html" %}

        {% include "casino/partials/games/card_games.html" %}
        {% include "casino/partials/games/dice_table.html" %}
        {% include "casino/partials/games/roulette.html" %}
        {% include "casino/partials/games/slots.html" %}
        {% include "casino/partials/games/special_games.html" %}
        {% include "casino/partials/games/sports.html" %}
        {% include "casino/partials/games/lotteries.html" %}

        {% include "casino/partials/cashier.html" %}

    </main>
</div>

{% include "casino/partials/footer.html" %}
{% include "casino/partials/modals.html" %}
{% endblock %}