<section class="casino-section" id="card-games">
    <h2>🃏 Card Games</h2>
    <div class="game-grid">

        {% set title = "Blackjack" %}
        {% set image = "images/games/blackjack.jpg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Texas Hold'em Poker" %}
        {% set image = "images/games/poker_texas_holdem.jpg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Baccarat" %}
        {% set image = "images/games/baccarat.jpeg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Caribbean Stud Poker" %}
        {% set image = "images/games/caribbean_stud_poker.jpg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Deuces Wild" %}
        {% set image = "images/games/deuces_wild.jpg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Jacks or Better" %}
        {% set image = "images/games/jacks_or_better.jpeg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Joker Poker" %}
        {% set image = "images/games/joker_poker.jpg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Let It Ride" %}
        {% set image = "images/games/let_it_ride.jpeg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Mini Baccarat" %}
        {% set image = "images/games/mini_baccarat.jpeg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Pai Gow Poker" %}
        {% set image = "images/games/pai_gow_poker.jpeg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Punto Banco" %}
        {% set image = "images/games/punto_banco.jpeg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Red Dog" %}
        {% set image = "images/games/red_dog.jpeg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Three Card Poker" %}
        {% set image = "images/games/three_card_poker.jpeg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Video Poker" %}
        {% set image = "images/games/video_poker.jpg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "War" %}
        {% set image = "images/games/war.jpeg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

    </div>
</section>