<section class="casino-section" id="roulette">
    <h2>🎡 Roulette</h2>
    <div class="game-grid">

        {% set title = "European Roulette" %}
        {% set image = "images/games/roulette.jpg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "American Roulette" %}
        {% set image = "images/games/american_roulette.jpg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "French Roulette" %}
        {% set image = "images/games/french_roulette.jpeg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

    </div>
</section>