<section class="casino-section" id="sports">
    <h2>🏇 Sports & Betting</h2>
    <div class="game-grid">

        {% set title = "Virtual Sports" %}
        {% set image = "images/games/virtual_sports.jpg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "eSports" %}
        {% set image = "images/games/e_sports.png" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Fantasy Sports" %}
        {% set image = "images/games/fantasy_sports.jpg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Greyhound Racing" %}
        {% set image = "images/games/greyhound_racing.jpg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

        {% set title = "Horse Racing" %}
        {% set image = "images/games/horse_racing.jpeg" %}
        {% set action_url = None %}
        {% include "casino/partials/game_card.html" %}

    </div>
</section>