<link rel="stylesheet" href="{{ url_for('static', filename='css/game_card.css') }}">

<div class="game-card">
    <img src="{{ url_for('static', filename=image) }}" alt="{{ title }}">

    <div class="game-overlay">
        <h3>{{ title }}</h3>

        {% if action_url is not none %}
            <a href="{{ action_url }}">
                <button class="play-btn">
                    {{ button_text | default("Play") }}
                </button>
            </a>
        {% else %}
            <button class="play-btn disabled">
                Coming soon
            </button>
        {% endif %}
    </div>
</div>